/* 
@param 商品详情加精选好货页面的样式现在一起。
@param 关于分页的样式和一些逻辑也可以作为一个公共文件
*/


.crumbs ul {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    background: #FFF5E7;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 0.08px;
}

.crumbs li {
    flex: 1;
}

.crumbs a {
    display: block;
    color: #888;
}

/* -----------------面包屑active-------------- */
.crumbs-active {
    color: #FFFFFF !important;
    background: #FFC36E;
}

.sort ul {
    font-size: 0;
}

.sort li {
    display: inline-block;
    width: 127.5px;
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    letter-spacing: 0.08px;
    /* line-height:  */
}

.sort li a {
    color: #B3B3B3;
    display: block;
    width: 100%;
}

/* -----------------sort-active-------------- */

.sort-active {
    color: #FFC36E !important;
}

.sort-icon .rsaquo {
    vertical-align: sub;
    font-size: 20px;
}

.sort-icon {
    margin-top: 17px;
    font-size: 0;
}

.sort-icon li {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #656565;
}

.sort-icon li a {
    color: #656565;
}

.sort-icon .icon-active {
    position: relative;
}

.icon-active::before {
    content: '';
    position: absolute;
    top: 1px;
    ;
    width: 6px;
    height: 6px;
    border: 3px solid #FFC36E;
    border-radius: 50%;
}

.icon-active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: #FFC36E transparent transparent transparent;
}

.goods-info {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.goods-info .goods-details {
    width: 1220px;
    box-shadow: 0 0 10px 0 #FFE4BE;
    border-radius: 10px;
}


/* 商品详情 页面图 */



.goods-details .photoBuy {
    /* display: inline-block; */
    position: relative;
    box-sizing: border-box;
    margin: 35px 40px 0 40px;
    padding-bottom: 35px;
    border-bottom: 1px solid #FFC36E;
    /* font-size: 0; */

    /* width: 100%; */
    /* height: 100%; */

}

.goods-details .photoShow {
    display: inline-block;
    background-color: skyblue;
    width: 535px;
    height: 535px;
    margin-right: 34px;
}

.goods-details .describe {
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.goods-details .describe h2 {
    opacity: 0.8;
    font-size: 24px;
    color: #000000;
    margin-bottom: 28px;
}

.goods-details .describe .jdicon {
    display: inline-block;
    background: #ED2A2A;
    height: 24px;
    width: 36px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 14px;
    vertical-align: bottom;
}

.goods-details .describe h5 {
    font-size: 18px;
    color: #666666;
    font-weight: 400;
    line-height: 25px;
}

.goods-details .describe h4 {
    margin: 60px 0 165px 0;
    font-size: 42px;
    color: #EB726A;
    position: relative;
    font-weight: 400;
}

.goods-details .describe h4 p {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 2px;
    font-size: 18px;
    color: #333333;

}

.goods-details .describe img {
    vertical-align: middle;
    width: 42px;
    height: 24px;
}

.goods-details .describe del {
    opacity: 0.3;
    font-size: 20px;
    color: #000000;
}

.goods-details .describe h4 span {
    color: #EB726A;
}

.goods-details .describe div {
    width: 572px;
    height: 130px;
    line-height: 130px;
    position: relative;
    background: url('../public/images/grouping3.png') no-repeat center center;
    background-size: 100% 100%;
}
.goods-details .describe div a{
    display: block;
    width: 100%;
    height: 100%;
}

.goods-details .describe .price,
.goods-details .describe .buy {
    position: absolute;
}

.goods-details .describe .price {
    top: 0;
    left: 125px;
    font-size: 56px;
    color: #FE5D5B;
}

.goods-details .price span {
    font-size: 24px;
    color: #EB726A;
}

.goods-details .describe .buy {
    top: 50%;
    transform: translateY(-50%);
    right: 72px;
    font-size: 18px;
    color: #FFFFFF;
}

.goods-details .goods-img {
    margin: 30px 40px;
    background: aquamarine;
    height: 500px;
}

.goods-info .goods-sift li {
    margin-bottom: 20px;
    width: 290px;
    height: 456px;
    box-shadow: 0 0 10px 0 #FFE4BE;
    border-radius: 10px;
}

/* 样式
 */
.timeLimit a {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    padding: 0 20px;
}

.timeLimit .photoShow {
    position: relative;
    width: 250px;
    height: 250px;
    background: aquamarine;
    margin: 25px 0 16px 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
}

.timeLimit h4 {
    font-weight: 400;
    font-size: 24px;
    color: #EB726A;
    position: relative;
}

.timeLimit del {
    margin-left: 3px;
    opacity: 0.3;
    font-size: 15px;
    color: #000000;
}

.timeLimit p span {
    color: #EB726A;
}

.timeLimit p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #333333;
}

.timeLimit h5 {
    position: relative;
    font-size: 14px;
    color: #333333;
    margin: 14px 0 7px 0;
}

.timeLimit h5 img {
    position: absolute;
    width: 42px;
    height: 24px;
    right: 30px;
    bottom: -6px;
    vertical-align: middle;
}

.timeLimit .commit {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 22px;
    box-shadow: 0 0 10px rgba(187, 185, 181, 0.5);
    border-radius: 4px;

}

.timeLimit h5 .risk {
    position: absolute;
    top: -2px;
    right: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    background: #FFD100;
    border-radius: 3px;
}

.timeLimit .commit .eighty {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 158px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    color: #EB726A;
}

.timeLimit .commit span {
    font-size: 24px;
}

.timeLimit .commit .nowStamp {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #FFFFFF;
    background-image: linear-gradient(-225deg, #ff9600 0%, #FF7D00 100%);
    border-radius: 0px 4px 4px 0px;
}

.timeLimit .commit .nowStamp::after {
    content: '';
    position: absolute;
    right: 0;
    top: 42%;
    width: 5px;
    height: 10px;
    background: #f4f4f3;
    border-radius: 5px 0 0 5px;
}

.productList .photoShow p,
.timeLimit .photoShow .jdicon {
    position: absolute;
    top: 20px;
    left: 0;
    background: #ED2A2A;
    height: 24px;
    width: 36px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 3px;
}

.see-more {
    text-align: right;
    font-size: 20px;

}

.hot {
    position: relative;
    font-size: 30px;
    color: #333333;
    margin: 20px 0;
}

.hot .kill {
    border-left: #FFC36E solid 5px;
    padding-left: 5px;
}

.hot .more {
    position: absolute;
    bottom: 0;
    right: 26px;
    font-size: 20px;
}

.see-more,
.hot .more a {
    color: #FFC36E;
}

.see-more i,
.hot .more i {
    letter-spacing: -6px;
    font-style: normal;
}

.see-more i {
    padding-right: 6px;
}




.productList {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 35px;
}

.productList .photoShow {
    position: relative;
    width: 250px;
    height: 250px;
    background: aquamarine;
    margin: 25px 0 16px 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
}

.productList li {
    height: 468px;
    width: 290px;
    background: #fff;
    box-shadow: 0 0 10px 0 #FFE4BE;
    border-radius: 10px;
    margin-bottom: 20px;
}

.productList a {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    padding: 0 20px;
}

.photoShow .jdicon {
    position: absolute;
    top: 45px;
    left: 20px;
    background: #ED2A2A;
    height: 24px;
    width: 36px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 3px;
}


.productList h4 {
    font-weight: 400;
    font-size: 24px;
    color: #EB726A;
    position: relative;
}

.productList del {
    margin-left: 3px;
    opacity: 0.3;
    font-size: 15px;
    color: #000000;
}

.productList p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #333333;
}

.productList p span {
    color: #EB726A;
}

.productList h5 {
    font-size: 14px;
    color: #333333;
    margin: 12px 0 7px 0;
}

.productList span {
    opacity: 0.6;
    font-size: 12px;
    color: #000000;
}

.productList .coupons {
    height: 36px;
    background-image: linear-gradient(-45deg, #FF9500 0%, #FFD67D 100%);
    border-radius: 18px;
    margin: 21px 0;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #FFFFFF;
}

/* 分页 */

#page {
    /* height: 60px; */
    margin: 30px auto 50px;
}

#page .pagination {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pagination li a {
    display: block;
    width: 37px;
    height: 37px;
    font-size: 14px;
    line-height: 38px;
    color: #FFC36E;
}

#paging {
    width: 72px;
    border: 1px solid #FFC36E;
    border-radius: 4px;
    margin-right: 4px;
}

.pagination-active {
    background: #FFC36E;
    color: #FFFFFF !important;
    border-radius: 4px;
}

.jump-page {
    margin-left: 10px;
    color: #FFC36E;
    line-height: 38px;
    font-size: 14px;
}

.jump-page input {
    width: 37px;
    height: 23px;
    margin: 0 5px;
    border: 1px solid #FFC36E;
    border-radius: 4px;
    outline: none;
    text-align: center;
}

.jump-page button {
    width: 46px;
    height: 23px;
    margin-left: 5px;
    color: #FFC36E;
    border: 1px solid #FFC36E;
    border-radius: 11.5px;
    background: #fff;
    cursor: pointer;
    outline: none;
}