.headerBackGround {
    background: #FFF5E7;
    width: 100%;
}

a {
    text-decoration: none;
}

.headerTag {
    display: flex;
    line-height: 30px;
    font-size: 14px;
    height: 30px;
}

.headerTag,
.headerTag .navlink a {
    color: #D77E00;
}

.headerTag nav {
    flex: 1;
}

.headerTag .navlink {
    text-align: right;
    flex: 1;
}
/* 
.headerTag .navlink a {
    display: inline-block;
} */

.headerTag .navlink a:last-child {
    margin-left: 20px;
}
.container {
    width: 100%;
    overflow: hidden;
}

/* 左侧导航 */
aside {
    float: left;
}

aside .asideNavBar {
    box-sizing: border-box;
    width: 230px;
    height: 100%;
    padding: 7px 0;
    background: #FFF5E7;
}

aside .asideNavBar a {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    vertical-align: middle;
    color: #D77E00;
    letter-spacing: 0.08px;
    padding: 7px 15px;
}

aside .asideNavBar a img {
    vertical-align: middle;
    position: absolute;
    top: 10px;
    right: 15px;
    height: 10px;
    width: 6px;
    background: url(/public/image/gt.png) no-repeat center center;
}

/* 轮播 */
/* .container {
    position: relative;
} */
.container .swiper {
    overflow: hidden;
    float: left;
    position: relative;
    height: 374px;
    width: 730px;
    margin: 0 27px 0 27px;
}

.swiper .inner {
    position: relative;
    width: 50000px;
    height: 100%;
    font-size: 0;
}

.swiper .inner li {
    width: 730px;
    height: 374px;
    display: inline-block;

}

.swiper .inner li a {
    height: 100%;
}

.swiper .inner li img {
    float: left;
    height: 100%;
}

.swiper .arrow {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 233;
    opacity: 0;
}

.swiper .arrowRight,
.swiper .arrowLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 68px;
    font-size: 32px;
    text-align: center;
    line-height: 65px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.swiper .arrowLeft {
    padding-right: 4px;

}

.swiper .arrowRight {
    padding-left: 4px;
    right: 0;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.swiper .indecator {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%);
}

.swiper .indecator li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background: #fff;
    border-radius: 50% 50%;
}

/* -----------------------------------------轮播图圆点高亮显示------------------------ */
.current {
    background: #FFC36E !important;
}

/* 右侧导航 */
.special {
    width: 516px;
    height: 374px;
    padding-top: 2px;
    float: right;
}

.special .fall,
.special .beauty,
.special .outdoor,
.special .furniture {
    margin-bottom: 36px;
    box-sizing: border-box;
    display: inline-block;
    width: 240px;
}

.special div p {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
    color: #D77E00;
}

.special .beauty,
.special .furniture {
    margin-left: 28px;
}

.special .dis {
    width: 512px;
}

.special .fall,
.special .beauty,
.special .outdoor,
.special .furniture,
.special .dis {
    box-shadow: 0 0 10px 0 rgba(255, 228, 190, 0.50);
    position: relative;
    height: 90px;
}

/* ---------- ------------------------------------------------*/
.goodsList .hot {
    position: relative;
    font-size: 30px;
    color: #333333;
    margin: 20px 0;
}

.goodsList .hot .kill {
    border-left: #FFC36E solid 5px;
    padding-left: 5px;
}

.goodsList .hot .more {
    position: absolute;
    bottom: 0;
    right: 26px;
    font-size: 20px;
}

.goodsList .hot .more a {
    color: #FFC36E;
}
.goodsList .hot .more i{
    letter-spacing: -6px;
    font-style:normal;
}
/* ------------------ ----------------------------------------*/
.goodsList .productList {
    display: flex;
    justify-content: space-between;
}

.goodsList .productList li {
    height: 468px;
    width: 290px;
    background: #fff;
    box-shadow: 0 0 10px 0 #FFE4BE;
    border-radius: 10px;
}

.goodsList .productList a {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    padding: 0 20px;
}
.goodsList .timeLimit .photoShow,
.goodsList .productList .photoShow {
    position: relative;
    width: 250px;
    height: 250px;
    background: aquamarine;
    margin: 25px 0 16px 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
}
.timeLimit .photoShow .jdicon,
.goodsList .photoShow .jdicon {
    position: absolute;
    top: 45px;
    left: 20px;
    background: #ED2A2A;
    height: 24px;
    width: 36px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 3px;
}

.timeLimit h4,
.productList h4 {
    font-weight: 400;
    font-size: 24px;
    color: #EB726A;
    position: relative;
}
.timeLimit del,
.productList del {
    margin-left: 3px;
    opacity: 0.3;
    font-size: 15px;
    color: #000000;
}
.timeLimit p,
.productList p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #333333;
}
.timeLimit p span,
.productList p span {
    color: #EB726A;
}

.productList h5 {
    font-size: 14px;
    color: #333333;
    margin: 12px 0 7px 0;
}

.productList span {
    opacity: 0.6;
    font-size: 12px;
    color: #000000;
}

.productList .coupons {
    height: 36px;
    background-image: linear-gradient(-45deg, #FF9500 0%, #FFD67D 100%);
    border-radius: 18px;
    margin: 21px 0;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #FFFFFF;
}

/* ------------------------------------精选好货----------------------- */
.goodsList .goodStuff li {
    position: relative;
    width: 755px;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 #FFE4BE;
    border-radius: 10px;
}

.goodsList .goodStuff {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* .goodStuff  */
.goodStuff .photoShow {
    display: inline-block;
    background-color: skyblue;
    margin: 25px 20px;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
}

.goodStuff .describe {
    position: absolute;
    display: inline-block;
    margin: 25px 29px 25px 0;
    height: 250px;
}

.goodStuff .describe h2 {
    font-size: 18px;
    color: #333333;
    line-height: 25px;
    margin-bottom: 10px;
}

.goodStuff .describe span {
    font-size: 16px;
    color: #666666;
    line-height: 22px;
}

.goodStuff .describe h4 {
    margin: 26px 0 26px 0;
    font-size: 22px;
    color: #EB726A;
    position: relative;
    font-weight: 400;
}

.goodStuff .describe img {
    vertical-align: bottom;
    width: 42px;
    height: 24px;
}

.goodStuff .describe del {
    opacity: 0.3;
    font-size: 15px;
    color: #000000;
}

.goodStuff .describe p {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 2px;
    font-size: 12px;
    color: #333333;
}

.goodStuff .describe h4 span {
    color: #EB726A;
    font-size: 12px;
}

.goodStuff .describe div {
    box-shadow: 0 0 10px rgba(187, 185, 181, 0.5);
    position: relative;
    height: 96px;
    background: url('../public/images/grouping2.png') no-repeat center center
}

.goodStuff .describe .price,
.goodStuff .describe .buy,
.goodStuff .describe .timer {
    position: absolute;
}

.goodStuff .describe .price {
    top: 20px;
    left: 99px;
    font-size: 36px;
    color: #EB726A;
}

.goodStuff .price span {
    font-size: 24px;
    color: #EB726A;
}

.goodStuff .describe .buy {
    top: 50%;
    transform: translateY(-50%);
    right: 36px;
    font-size: 16px;
    color: #FFFFFF;
}

.goodStuff .describe .timer {
    bottom: 16px;
    left: 70px;
    font-size: 12px;
    color: #999999;
}

.goodsList .timeLimit {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.goodsList .timeLimit li {
    width: 290px;
    height: 456px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 #FFE4BE;
    border-radius: 10px;
}

.goodsList .timeLimit a {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    padding: 0 20px;
}

/* .goodsList .timeLimit .photoShow {
    position: relative;
    width: 250px;
    height: 250px;
    background: aquamarine;
    margin: 25px 0 16px 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.50);
} */

/* .timeLimit h4 {
    font-weight: 400;
    font-size: 24px;
    color: #EB726A;
    position: relative;
}

.timeLimit del {
    margin-left: 3px;
    opacity: 0.3;
    font-size: 15px;
    color: #000000;
}

.timeLimit p span {
    color: #EB726A;
}

.timeLimit p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #333333;
} */

.timeLimit h5 {
    position: relative;
    font-size: 14px;
    color: #333333;
    margin: 14px 0 7px 0;
}

.timeLimit h5 img {
    position: absolute;
    width: 42px;
    height: 24px;
    right: 0;
    bottom: -6px;
    vertical-align: middle;
}

.timeLimit .commit {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 22px;
    box-shadow: 0 0 10px rgba(187, 185, 181, 0.5);
    border-radius: 4px;

}

.timeLimit .commit .eighty {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 158px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    color: #EB726A;
}

.timeLimit .commit span {
    font-size: 24px;
}

.timeLimit .commit .nowStamp {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #FFFFFF;
    background-image: linear-gradient(-225deg, #ff9600 0%, #FF7D00 100%);
    border-radius: 0px 4px 4px 0px;
}

.timeLimit .commit .nowStamp::after {
    content: '';
    position: absolute;
    right: 0;
    top: 42%;
    width: 5px;
    height: 10px;
    background: #f4f4f3;
    border-radius: 5px 0 0 5px;
}

.timeLimit .photoShow .jdicon {
    top: 20px;
    left: 0;
}

.goodsList .articleLive a {
    display: block;
    width: 660px;
    height: 60px;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    margin: 50px auto;
    background-image: linear-gradient(-180deg, #FFD67D 2%, #FF9500 100%);
    border-radius: 27.69px;
}
